@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center page-header">
    <h1 class="display-6">Przykładowa integracja z Subiektem 123</h1>
</div>

<div class="text-center">
    <a class="text-center" asp-area="" asp-controller="Subiekt123" asp-action="Index">
        <div class="btn btn-primary">Połącz z subiektem 123</div>
    </a>
</div>