@page
@model ErrorModel

<div class="error">
    <h1 class="identify__title">@Model.Title</h1>
    <br/>
    <h2 class="section__title section__title--mb section__title--regular">@Model.Message</h2>
</div>
