@page
@model IndexModel

<div class="error">
    <h1 class="identify__title">Witamy w serwisie do śledzenia historii zleceń serwisowych</h1>
    <br />
    <h2 class="section__title section__title--mb section__title--regular">W celu weryfikacji statusu Twojego zgłoszenia skorzystaj z linku dostarczonego przez firmę serwisującą.</h2>
</div>